<h1>Details of <%= @page.name %></h1>
<p>
  <strong>Local Path:</strong>
  <%= @page.local_path %>
</p>
<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>
<p>
  <strong>Meta Description:</strong>
  <%= @page.meta_description %>
</p>
<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>