<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? '&nbsp;'.html_safe : yield(:title) %></title>
  <%= stylesheet_link_tag    "webmasters_cms/application", media: "all" %>
  <%= javascript_include_tag "webmasters_cms/application" %>
  <%= csrf_meta_tags %>
  <% if !yield(:meta_description).blank? %>
    <meta name="description" content="<%= yield(:meta_description) %>" />
  <% end %>
</head>
<body>
<%= render 'notice' %>
<header>
  <nav>
    <%= link_to 'New Page', new_admin_page_path %>
  </nav>
</header>

<%= yield %>

</body>
</html>
