<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).blank? ? '✨ Webmasters CMS ✨' : yield(:title) %></title>
  <%= stylesheet_link_tag "webmasters_cms/application", media: "all" %>
  <%= csrf_meta_tags %>
  <% if !yield(:meta_description).blank? %>
    <meta name="description" content="<%= yield(:meta_description) %>" />
  <% end %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<%= render 'webmasters_cms/admin/pages/notice' %>
<header>
  <nav>
    <%= link_to 'Main', admin_pages_path %>
    <%= link_to 'New Page', new_admin_page_path %>
    <%= link_to 'Language Settings', admin_active_languages_path %>
  </nav>
</header>

<%= yield %>

<%= javascript_include_tag "webmasters_cms/application" %>
</body>
</html>
