<!DOCTYPE html>
<html>
<head>
  <title>WebmastersCms</title>
  <%= stylesheet_link_tag    "webmasters_cms/application", media: "all" %>
  <%= javascript_include_tag "webmasters_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<%= render 'notice' %>
<header>
  <nav>
    <%= link_to 'New Page', new_page_path %>
  </nav>
</header>
<body>

<%= yield %>

</body>
</html>
