<div class="small-details">
  <span class="bold"><%= t '.version_from' %>:</span> <%= page_translation.updated_at %><br>
  <span class="bold"><%= t 'name' %>:</span> <%= page_translation.name %><br>
  <span class="bold"><%= t 'title_tag' %>:</span> <%= page_translation.title %><br>
  <span class="bold"><%= t 'meta_description' %>:</span> <%= page_translation.meta_description %><br>
</div>