<h1><%= t '.translation_revision' %></h1>
<%= form_for page_translation, url: set_current_version_admin_page_path(page_translation) do |f| %>
  <div class="centered clearfix">
    <div id="current_version" class="float-left clearfix">
      <h2><%= t '.current_version' %>:</h2>
      <article class="page">
        <%= render partial: 'webmasters_cms/admin/page_translation_versions/page_translation_version_w_details', locals: { page_translation: page_translation } %>
      </article>
    </div>
    <div id="chosen_version" class="float-left clearfix">
        <div class="float-right">
          <%= t '.version' %>: <%= f.select :version, options_for_select(page_versions_in_array, page_versions_in_array.size) %>
        </div>
      <h2><%= t '.chosen_version' %>:</h2>
      <article id="chosen" class="page">
      </article>
      <%= f.submit t('.current_version') %> or
      <%= render 'webmasters_cms/admin/pages/back' %>
    </div>
  </div>
<% end %>