<%= form_for page_translation, url: set_current_version_admin_page_path(page_translation) do |f| %>
  <%= f.select :version, page_versions_for_select %>
  <%= f.submit t('.current_version') %>
<% end %>

Chosen Version:
<div id="chosen">
</div>

Current Version:
<%= render partial: 'webmasters_cms/admin/pages/page', locals: { resource: page_translation } %>
<%= render 'webmasters_cms/admin/pages/back' %>
