<p>
   <%= f.label :parent_id %><br>
   <%= f.select :parent_id, nested_set_for_select, {include_blank: "- No Parent -"}%>
</p>
<p class="available_languages">
  <% languages_array = get_languages %>
  <%= t('.available_languages') %>:<br>
  <% languages_array.each do |name, lang| %>
    <%= radio_button_tag :code, lang, (lang === params[:language]) %>
    <%= label_tag "code_#{lang}", name, class: 'radio_label' %>
  <% end %>
</p>
<% languages_array.each do |name, lang| %>
  <fieldset id="form_<%= lang %>" class="hidden">
    <%= f.fields_for :translations, translation = resource.translations.find_or_initialize_by_language(lang) do |t| %>
      <%= render 'versions', translation: translation unless translation.versions.size <= 1 %>
      <%= t.hidden_field :language, value: lang %>
      <% if t.object.new_record? %>
        <%= t('.new_translation') %>
      <% end %>
      <p>
        <%= t.label :name %> *<br>
        <%= t.text_field :name, class: 'name_js' %>
      </p>
      <p>
        <%= t.label :local_path %><br>
        <%= t.text_field :local_path, class: 'local_path_js' %>
        <%= button_tag '<<', type: 'button', class: 'use_suggestion_button' %>
        <span class="suggestion_<%= lang %>"></span>
      </p>
      <p>
        <%= t.label :title_tag %> *<br>
        <%= t.text_field :title, size: "60", maxlength: "120", class: 'title_js' %>
        <br />
        <span class="titleLength"><span>0</span> / 55 Letters (max. 120)</span>
      </p>
      <p>
        <%= t.label :meta_description %> *<br>
        <%= t.text_area :meta_description, size: "60x4", maxlength: "255", class: 'meta_desc_js' %>
        <br />
        <span class="metaDescLength"><span>0</span> / 155 Letters (max. 255)</span>
      </p>
      <div class="searchResult">
        <%= render partial: 'searchresult_preview' %>
      </div>
      <p>
        <%= t.label :body %> *<br>
        <%= t.text_area :body, size: "60x20", data: {ckeditor_options: {}.to_json} %>
      </p>
      <%= t.submit t('.preview_button'), data: { url: url_for(action: 'preview', controller: '/webmasters_cms/pages')}, class: 'preview' %>
    <% end %>
  </fieldset>
<% end %>

<p>
  <%= f.submit %>
</p>