<p><%= f.label :parent_id %><br>
<%= f.select :parent_id, nested_set_for_select, {include_blank: "- No Parent -"}%></p>

<p><%= f.label :is_meta %><br>
<%= f.check_box :is_meta %></p>

<%= f.hidden_field :host_index %>

<p class="available_languages">
  <% languages_array = get_languages %>
  <%= t '.available_languages' %>:<br>

  <% languages_array.each do |name, lang| %>
    <%= radio_button_tag :code, lang, (lang === params[:language] || lang === params[:code]) %>
    <%= label_tag "code_#{lang}", name, class: 'radio_label' %>
  <% end %>
</p>
<% languages_array.each do |name, lang| %>
  <fieldset id="form_<%= lang %>" class="hidden">
    <%= f.fields_for :translations, translation = resource.translations.find_or_initialize_by_language(lang) do |t| %>

      <% if t.object.new_record? %>
        <%= t '.new_translation' %>
      <% end %>

      <%= render 'versions', translation: translation unless translation.versions.size <= 1 %>
      <%= t.hidden_field :language, value: lang %>

      <div class="small page_options">
        <b class="open"><%= t '.page_options' %></b>
        <div class="options hidden">
          <%= t.check_box :show_in_navigation %>
          <%= t.label :show_in_navigation %><br>
          <%= t.check_box :redirect_to_child %>
          <%= t.label :redirect_to_child %><br>
          <%= t.label :redirect_to %>
          <%= t.text_field :redirect_to %>
        </div>
      </div>

      <div>
        <%= t.label :name, class: "required" %><br>
        <%= t.text_field :name, class: 'name_js' %><br>
        <%= errors_for(:name, t.object) %>
      </div>

      <div>
        <% if t.object.internal_path? -%>
        <%= t.object.class.human_attribute_name :local_path %><br>
        <% else -%>
        <%= t.label :local_path %><br>
        <%= t.text_field :local_path, class: 'local_path_js' %>
        <%= button_tag '<<', type: 'button', class: 'use_suggestion_button' %>
        <span class="suggestion_<%= lang %>"></span><br>
        <%= errors_for(:local_path, t.object) %>
        <% end -%>
      </div>

      <div>
        <%= t.label :title, class: "required" %><br>
        <%= t.text_field :title, size: "60", maxlength: "120", class: 'title_js' %><br>
        <%= errors_for(:title, t.object) %>
        <span class="titleLength"><span>0</span> / 55 Letters (max. 120)</span>
      </div>

      <div>
        <%= t.label :meta_description, class: "required" %><br>
        <%= t.text_area :meta_description, size: "60x4", maxlength: "255", class: 'meta_desc_js' %><br>
        <%= errors_for(:meta_description, t.object) %>
        <span class="metaDescLength"><span>0</span> / 155 Letters (max. 255)</span>
      </div>

      <div class="searchResult">
        <%= render partial: 'searchresult_preview' %>
      </div>

      <div>
        <%= t.label :body, class: "required" %><br>
        <%= t.text_area :body, options_for_page_translation_body(translation) %><br>
        <%= errors_for(:body, t.object) %>
      </div>

      <div>
        <%= t.label :menu_icon_css_class %><br>
        <%= t.text_field :menu_icon_css_class, size: 60, maxlength: 30 %><br>
        <%= errors_for(:menu_icon_css_class, t.object) %>
      </div>

      <%= t.submit t('.preview_button'), data: { url: url_for(action: 'preview', controller: '/webmasters_cms/pages')}, class: 'preview' %>
    <% end %>
  </fieldset>
<% end %>

<%= f.submit %>
