  <%= f.fields_for :translations, resource.translations.find_by(page_id: resource.id) do |t| %>
    <p>
      <%= t.label :language %><br>
      <%= t.select :language, WebmastersCms::ActiveLanguage.all.collect { |l| [ WebmastersCms::ActiveLanguage::AVAILABLE_LANGUAGES[l.code]['nativeName'], l.id ] }, include_blank: "Choose the language for this page" %>
    </p>
      <p>
      <%= t.label :name %><br>
      <%= t.text_field :name %>
    </p>
    <p>
      <%= t.label :local_path %><br>
      <%= t.text_field :local_path %>
    </p>
    <p>
      <%= t.label :title, "Title Tag" %><br>
      <%= t.text_field :title, size: "60", maxlength: "120" %>
      <br />
      <span id="titleLength"><span>0</span> / 55 Letters (max. 120)</span>
    </p>
    <p>
      <%= t.label :meta_description %><br>
      <%= t.text_area :meta_description, size: "60x4", maxlength: "255" %>
      <br />
      <span id="metaDescLength"><span>0</span> / 155 Letters (max. 255)</span>
    </p>
    <div class="searchResult">
      <%= render partial: 'searchresult_preview' %>
    </div>
    <p>
      <%= t.label :body %><br>
      <%= t.text_area :body, size: "60x20", data: {ckeditor_options: {}.to_json} %>
    </p>
  <% end %>
  <% if (resource.translations.any?) %>
  <p>
     <%= f.label :parent_id %><br>
     <%= f.select :parent_id, nested_set_for_select, include_blank: "- No Parent -" %>
  </p>
  <% end %>
  <p>
    <%= f.submit %>
  </p>