<%= form_for resource, url: admin_page_path(resource) do |f| %>

<%= render 'messages' %>

<h1><%= t('.edit_page') + ' ' + resource.translations.first.name %></h1>

<%= render partial: 'versions', locals: {resource: resource} unless resource.translations.first.versions.size <= 1 %>

<%= render partial: 'form', locals: {f: f} %>
<%= f.submit t('webmasters_cms.admin.pages.preview_button'), data: { url: url_for(action: 'preview', controller: '/webmasters_cms/pages')}, class: 'preview' %>

<% end %>

<%= render 'back' %>