<%= form_for resource, url: {action: 'set_current_version'} do |f| %>
  <%= f.select :version, versions_of_page_for_select %>
  <%= f.submit "Use as current version" %>
<% end %>

Chosen Version:
<div id="chosen">
  <%= render partial: 'page', locals: {page: resource} %>
</div>

Current Version:
<%= render partial: 'page', locals: {page: get_current_version} %>
<%= render partial: 'back' %>
