<%= form_for resource, url: { action: "create" } do |f| %>

  <%= render 'messages' %>

  <h1><%= t('.create_page') %></h1>

  <%= render 'form', f: f %>

<% end %>

<%= render 'webmasters_cms/admin/pages/back' %>