  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :local_path %><br>
    <%= f.text_field :local_path %>
  </p>
  <p>
    <%= f.label :title, "Title Tag" %><br>
    <%= f.text_field :title, size: "60", maxlength: "120" %>
    <br />
    <span id="titleLength"><span>0</span> / 55 Letters (max. 120)</span>
  </p>
  <p>
    <%= f.label :meta_description %><br>
    <%= f.text_area :meta_description, size: "60x4", maxlength: "300" %>
    <br />
    <span id="metaDescLength"><span>0</span> / 155 Letters (max. 300)</span>
  </p>
  <div class="searchResult">
    <%= render partial: 'searchresult_preview' %>
  </div>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, size: "60x20", data: {ckeditor_options: {}.to_json} %>
  </p>

  <p>
    <%= f.submit %>
  </p>